<nav class="navbar">
    <link rel="stylesheet" href="/styles/navbarStyles.css">
    <a href="/">
        <h1>Library</h1>
    </a>
    <div class="search-container">
        <input type="text" name="" id="" placeholder="Search" >
        <img src="/icons/search.svg" alt="Search Icon" width="24px" height="24px">
    </div>
    <div class="nav-links">
        <a href="/genres">Genres</a>
        <a href="/author">Author</a>
    </div>
</nav>