.genre-grid, .author-grid {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.genre, .author {
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(16, 16, 16);
    transition: all 0.3s ease-in;
    border: 1px solid transparent;
}

.genre:hover, .author:hover {
    position: relative;
    border: 1px solid white;
    transform: scale(1.1);
}