/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
box-sizing: border-box;
}

/* 2. Remove default margin */
* {
margin: 0;
}

body {
/* 3. Add accessible line-height */
line-height: 1.5;
/* 4. Improve text rendering */
-webkit-font-smoothing: antialiased;
padding: 0 10px;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

/*
9. Create a root stacking context
*/

#root, #__next {
isolation: isolate;
}

@font-face {
    font-family: 'Fredoka';
    src: url('../Fredoka/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
}

html {
    background-color: black;
    color: white;
    font-family: 'Fredoka', 'Calibri', Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0px;
}

input, select {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

select {
  /* Remove default browser styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Add custom arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7rem center;
  background-size: 0.9em;

  /* Add some basic styling */
  border-radius: 10px;
  border: 1px solid white;
  padding: 0.5em 2em 0.5em 1em; /* Adjust padding to make space for the arrow */
  background-color: black;
  color: white;
  cursor: pointer;
}

select:hover {
  /* Change arrow color on hover */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
}